# My Rating

### 1 Prepare data
##### 1.1 Init Title Base

In [1]:
import pandas as pd
from imdb_base_data_loader import ImdbBaseDataLoader
from imdb_principals_data_loader import ImdbPrincipalDataLoader
dl = ImdbBaseDataLoader(from_cache=True)
pdl = ImdbPrincipalDataLoader(dl.imdb_base, from_cache=False)
p = pdl.principals

Loading IMDb base data from cache /Users/apoltavets/anna-apps/ml-and-engineering-docs/ratings/data/cache/imdb_base.tsv.gz...
Loaded (687, 2) of my ratings

In [4]:
tmp = p[(p['title_type'] == 'movie') & (p['start_year'] >= 1985) &  (p['start_year'] < 1995) & (p['imdb_num_votes']  > 1000)]

#

(tmp[tmp['nconst_name'].isin(['Steve Guttenberg',
                 'Shelley Long',
                 'Jami Gertz',
                 'Kyle MacLachlan',
                  'Dustin Hoffman',
                  'Will Ferrell',
                  'Bill Murray',
                  'Matthew Broderick',
                  'Frank Whaley',
                  'Sharon Stone',
                  'Michael Douglas',
                  'Matt Damon',
                  'Melanie Griffith',
                  'Joan Cusack', 
                  'Goldie Hawn',
                  'Kurt Russell',
                  'Harrison Ford',
                  'Jim Belushi', 'Tom Hanks'
                              ])][['imdb_rating', 'imdb_num_votes', 'title_type', 'title', 'start_year', 'genres', 'nconst_name' ]]
    .sort_values(by=['imdb_rating', 'imdb_num_votes'], ascending=[True, True])

)
# Falling Down, Witness, Broadcast News, Wall Street, Big Trouble in Little China, School Ties, Something Wild, Presumed Innocent, Clear and Present Danger, Patriot Games, The War of the Roses, Paradise, Hoffa, Men Don't Leave, Pacific Heights

,imdb_rating,imdb_num_votes,title_type,title,start_year,genres,nconst_name
4722855,4.3,1594,movie,The Allnighter,1987,"Comedy,Romance",Joan Cusack
6156381,4.5,1162,movie,Where Sleeping Dogs Lie,1991,"Crime,Drama,Mystery",Sharon Stone
1093660,4.6,1092,movie,Cold Steel,1987,"Action,Thriller",Sharon Stone
737292,4.6,1275,movie,Blood and Sand,1989,"Drama,Romance",Sharon Stone
339905,4.6,11179,movie,Allan Quatermain and the Lost City of Gold,1986,"Action,Adventure,Comedy",Sharon Stone
...,...,...,...,...,...,...,...
3927059,8.0,569333,movie,Rain Man,1988,Drama,Dustin Hoffman
2087467,8.0,722002,movie,Groundhog Day,1993,"Comedy,Drama,Fantasy",Bill Murray
2472035,8.2,844573,movie,Indiana Jones and the Last Crusade,1989,"Action,Adventure",Harrison Ford
5222127,8.5,1215055,movie,The Lion King,1994,"Adventure,Animation,Drama",Matthew Broderick
3882011,8.8,2356581,movie,Pulp Fiction,1994,"Crime,Drama",Frank Whaley

In [11]:
#
cmdy = p[(p['title_type'] == 'movie') & (p['start_year'] >= 1981) &  (p['start_year'] < 1982) & (p['imdb_num_votes']  > 1000)]
(cmdy[(cmdy['genres'].str.contains('Comedy')) & ~cmdy['genres'].str.contains('Musical') & ~cmdy['genres'].str.contains('Animation')]
 [['imdb_rating', 'imdb_num_votes', 'title_type', 'title', 'start_year', 'genres', 'nconst_name' ]]
 .sort_values(by=['imdb_rating', 'imdb_num_votes'], ascending=[False, False])
)

,imdb_rating,imdb_num_votes,title_type,title,start_year,genres,nconst_name
163632,8.8,2402,movie,A Nameless Band,1981,"Comedy,Drama,Music",Velko Kynev
163633,8.8,2402,movie,A Nameless Band,1981,"Comedy,Drama,Music",Filip Trifonov
163634,8.8,2402,movie,A Nameless Band,1981,"Comedy,Drama,Music",Pavel Poppandov
163635,8.8,2402,movie,A Nameless Band,1981,"Comedy,Drama,Music",Georgi Mamalev
163636,8.8,2402,movie,A Nameless Band,1981,"Comedy,Drama,Music",Katerina Evro
...,...,...,...,...,...,...,...
3371756,3.9,1135,movie,Mystery on Monster Island,1981,"Adventure,Comedy,Horror",Carlos Villa
3371757,3.9,1135,movie,Mystery on Monster Island,1981,"Adventure,Comedy,Horror",Andrés Berenguer
3371758,3.9,1135,movie,Mystery on Monster Island,1981,"Adventure,Comedy,Horror",Rafael de la Cueva
3371759,3.9,1135,movie,Mystery on Monster Island,1981,"Adventure,Comedy,Horror",Earl Watson
3371760,3.9,1135,movie,Mystery on Monster Island,1981,"Adventure,Comedy,Horror",Emilio Ruiz del Río

Grosse Pointe Blank

Dead Poets Society, 
Do the Right Thing, 
The Breakfast Club, 
Ferris Bueller's Day Off, 
Crimes and Misdemeanors, 
Torch Song Trilogy, 
Clerks
Planes, Trains & Automobiles
My Cousin Vinny
Barton Fink
After Hours
Short Cuts
Midnight Run
The Fisher King
Delicatessen
The Player
Police Story
Husbands and Wives
A League of Their Own
Dirty Rotten Scoundrels
Bullets Over Broadway
Radio Days
Good Morning, Vietnam
Driving Miss Daisy
Clue
Say Anything
Steel Magnolias
Manhattan Murder Mystery
Broadcast News
Nobody's Fool
Big Trouble in Little China
Major League
Moonstruck
Arizona Dream
Pump Up the Volume
The Madness of King George
Truly Madly Deeply
Heathers
Sneakers
Benny & Joon
Parenthood
Better Off Dead
Barfly
Three O'Clock High
The Hairdresser's Husband
In the Soup
The Last Boy Scout
Bull Durham