In [4]:
import pandas as pd

tsv_2024 = pd.read_csv(f'data/imdb/movies_2024.tsv', low_memory=False, delimiter='\t', on_bad_lines="skip")

id                              107
imdb                            107
original_language               107
overview                        106
popularity                      107
release_date                    107
vote_average                    107
vote_count                      107
production_companies_names       96
production_companies_id          96
production_companies_country     83
budget                          107
revenue                         107
dtype: int64

In [5]:
tsv_2024.groupby('original_language').count()

,id,imdb,overview,popularity,release_date,vote_average,vote_count,production_companies_names,production_companies_id,production_companies_country,budget,revenue
original_language,,,,,,,,,,,,
2024-11-14,1,1,1,1,1,1,1,1,1,0,0,0
2025-01-15,1,1,1,1,1,1,1,1,1,0,0,0
ar,27,27,27,27,27,27,27,27,27,25,27,27
as,1,1,1,1,1,1,1,0,0,0,1,1
bg,2,2,2,2,2,2,2,1,1,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
uz,1,1,1,1,1,1,1,1,1,0,1,1
vi,6,6,6,6,6,6,6,6,6,4,6,6
yo,1,1,1,1,1,1,1,0,0,0,1,1
zh,67,67,65,67,66,67,67,60,60,58,67,67
zu,2,2,2,2,2,2,2,2,2,2,2,2

In [6]:
tsv_2024[tsv_2024['original_language'] == 'gl']

,id,imdb,original_language,overview,popularity,release_date,vote_average,vote_count,production_companies_names,production_companies_id,production_companies_country,budget,revenue
853,1172611,tt26164896,gl,"In As Neves, a mountain village, a group of te...",0.2251,2024-05-10,6.2,2,Aquí y Allí Films|Cósmica Producións,27991|146415,ES|,0.0,0.0