In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('Weather_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            30 non-null     int64
 1   Temperature    30 non-null     float64
 2   Precipitation  30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [50]:
def add_suffix(day):
    match day:
        case 1:
            return "1st"
        case 2:
            return "2nd"
        case 2:
            return "3d"
        case _:
            return str(day) + "th"

In [51]:
df['Index'] = df['Day'].apply(add_suffix)

In [52]:
df.head()

   Day  Temperature  Precipitation Index
0    1    23.232203       2.645556   1st
1    2    25.727840       7.742337   2nd
2    3    24.041451       4.561503   3th
3    4    23.173248       5.684339   4th
4    5    21.354822       0.187898   5th

In [53]:
def categorize_temp(t):
    if t < 5:
        return 'Cold'
    elif t <= 5 < 14:
        return 'Bearable'
    elif t <= 14 < 26:
        return 'Nice'
    else:
        return 'Hot'

In [54]:
df['Temp_Category'] = df['Temperature'].apply(categorize_temp)

In [55]:
df

    Day  Temperature  Precipitation Index Temp_Category
0     1    23.232203       2.645556   1st           Hot
1     2    25.727840       7.742337   2nd           Hot
2     3    24.041451       4.561503   3th           Hot
3     4    23.173248       5.684339   4th           Hot
4     5    21.354822       0.187898   5th           Hot
5     6    24.688412       6.176355   6th           Hot
6     7    21.563808       6.120957   7th           Hot
7     8    28.376595       6.169340   8th           Hot
8     9    29.454941       9.437481   9th           Hot
9    10    20.751623       6.818203  10th           Hot
10   11    26.875876       3.595079  11th           Hot
11   12    22.933424       4.370320  12th           Hot
12   13    23.520668       6.976312  13th           Hot
13   14    28.883950       0.602255  14th           Hot
14   15    16.065541       6.667667  15th           Hot
15   16    16.306939       6.706379  16th           Hot
16   17    15.303276       2.103826  17th           Hot
17   18    27.489298       1.289263  18th           Hot
18   19    26.672351       3.154284  19th           Hot
19   20    28.050182       3.637108  20th           Hot
20   21    29.679275       5.701968  21th           Hot
21   22    26.987378       4.386015  22th           Hot
22   23    21.922190       9.883738  23th           Hot
23   24    26.707938       1.020448  24th           Hot
24   25    16.774116       2.088768  25th           Hot
25   26    24.598815       1.613095  26th           Hot
26   27    17.150299       6.531083  27th           Hot
27   28    29.170034       2.532916  28th           Hot
28   29    22.827725       4.663108  29th           Hot
29   30    21.219929       2.444256  30th           Hot

In [56]:
df['Weekday'] = df['Day'].apply(lambda d: (d - 1) // 7 +1)
df

    Day  Temperature  Precipitation Index Temp_Category  Weekday
0     1    23.232203       2.645556   1st           Hot        1
1     2    25.727840       7.742337   2nd           Hot        1
2     3    24.041451       4.561503   3th           Hot        1
3     4    23.173248       5.684339   4th           Hot        1
4     5    21.354822       0.187898   5th           Hot        1
5     6    24.688412       6.176355   6th           Hot        1
6     7    21.563808       6.120957   7th           Hot        1
7     8    28.376595       6.169340   8th           Hot        2
8     9    29.454941       9.437481   9th           Hot        2
9    10    20.751623       6.818203  10th           Hot        2
10   11    26.875876       3.595079  11th           Hot        2
11   12    22.933424       4.370320  12th           Hot        2
12   13    23.520668       6.976312  13th           Hot        2
13   14    28.883950       0.602255  14th           Hot        2
14   15    16.065541       6.667667  15th           Hot        3
15   16    16.306939       6.706379  16th           Hot        3
16   17    15.303276       2.103826  17th           Hot        3
17   18    27.489298       1.289263  18th           Hot        3
18   19    26.672351       3.154284  19th           Hot        3
19   20    28.050182       3.637108  20th           Hot        3
20   21    29.679275       5.701968  21th           Hot        3
21   22    26.987378       4.386015  22th           Hot        4
22   23    21.922190       9.883738  23th           Hot        4
23   24    26.707938       1.020448  24th           Hot        4
24   25    16.774116       2.088768  25th           Hot        4
25   26    24.598815       1.613095  26th           Hot        4
26   27    17.150299       6.531083  27th           Hot        4
27   28    29.170034       2.532916  28th           Hot        4
28   29    22.827725       4.663108  29th           Hot        5
29   30    21.219929       2.444256  30th           Hot        5

In [65]:
df1 = pd.DataFrame(df.groupby('Weekday')[['Temperature', 'Precipitation']].mean())  
df1

         Temperature  Precipitation
Weekday
1          23.397398       4.731278
2          25.828154       5.424141
3          22.795266       4.180070
4          23.330110       4.008009
5          22.023827       3.553682

In [66]:
df1.columns

Index(['Temperature', 'Precipitation'], dtype='object')

In [58]:
df2 = df1.rename({"Weekday": "Weekday", "Temperature": "Avg_Temp"})

In [59]:
df.merge(df1, on=df['Weekday'] == df1['Weekday'])

KeyError: 'Weekday'

SPRING_PROFILES_ACTIVE=prod;NEW_RELIC_LABELS=Appid:app02432;Environment:PROD;NEW_RELIC_APP_NAME=${APP_NAME}-app02432-PROD;STATSD_HOST=localhost;STATSD_PORT=8080;SASL_ACCESS_KEY=APP02239.ODCNPSVBTBC4BNQBI;SASL_SECRET=1Iq5J2ibS2EGpcg6dBQHOreEr3OHpWaYKgWlwmMnGTz.piix2JId8ebmwkYHwvQaB5tMVW6xcCToqkGJqPn4VEc65Ob.Dr6seNXe6tWpBw8HCkZF7cH.VKEp4logBMvW;